NODE_ENV=production
PORT=10000
DATABASE_URL="postgresql://neondb_owner:npg_EPpcB0ugjI7e@ep-shiny-bonus-a7pfm5bv-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="replace-this-with-a-long-production-secret-at-least-32-characters"
CORS_ORIGINS="https://admin.happytails.co.nz,https://app.happytails.co.nz,https://www.happytails.co.nz"
LOG_LEVEL=info